body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    background-color: #1f2937;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    padding-top: 20px;
    flex: 1, 1, auto;
}

.top_header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 100px;   
}

.top_header_left {
    font-size: 24px;
}

.top_header_right {
    justify-content: space-between;
}


a {
    text-decoration: none;
    color: #e5e7eb;
    padding: 16px;
}

li {
    list-style-type: none;
    
}

ul {
    display: flex;
}

.bottom_header {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.bottom_header_left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}

.hero_main_text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.hero_secondary_text {
    font-size: 18px;
    color: #e5e7eb;
}

.bottom_header_right {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
}

.content_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 150px;
    padding-top: 50px;
    gap: 16px;
}

.boxes {
    display: flex;
    gap: 16px;

}

.cat_pic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.author {
    align-self: flex-end;
}

.content_3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue_square {
    display: flex;
    flex: .5, 1, auto;
    background-color: #3882f6;
}

.action {
    display: flex;
    flex-direction: column;
}

.sign_up_button {
    align-self: center;
}

.footer {
    align-self: center;
}